apiVersion: apps/v1
kind: Deployment
metadata:
  name: fake-pod
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fake-pod
  template:
    metadata:
      labels:
        app: fake-pod
    spec:
      schedulerName: scheduler-plugin
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: type
                operator: In
                values:
                - kwok

      tolerations:
      - key: "node"
        operator: "Equal"
        value: "fake"
        effect: "NoSchedule"
      containers:
      - name: fake-container
        image: fake-image
        resources:
          requests:
            cpu: "4000m"
            memory: "2Gi"
          limits:
            nvidia.com/gpu: 1