apiVersion: v1
kind: Pod
metadata:
  name: testpod
  labels:
    app: fake-pod
spec:
  schedulerName: scheduler-plugin

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: type
            operator: In
            values:
            - kwok

  tolerations:
    - key: "node"
      operator: "Equal"
      value: "fake"
      effect: "NoSchedule"

  containers:
  - name: fake-container
    image: fake-image
    resources:
      requests:
        customresource.com/gpuMemory: 200
        customresource.com/gpufp32: 5000
      limits:
        customresource.com/gpuMemory: 200
        customresource.com/gpufp32: 5000