apiVersion: v1
kind: Pod
metadata:
  annotations: 
    deadline: "1000"
  name: heavy-pod
  labels:
    app: fake-pod
    duration: heavy
spec:
  schedulerName: scheduler-plugin

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: type
            operator: In
            values:
            - kwok

  tolerations:
    - key: "node"
      operator: "Equal"
      value: "fake"
      effect: "NoSchedule"

  containers:
  - name: fake-container
    image: fake-image
    resources:
      requests:
        cpu: "4000m"
        memory: "2Gi"
      limits:
        nvidia.com/gpu: 1